.header {
    background-color: var(--main-color);
    width: 100%;
    /* padding: 0.2em 0;   */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: grid;
    grid-template-columns: repeat(3, 1fr);;
}
.navbar {
    margin: 0;
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-self: center;
}

.logoPlace {
    /* grid-area: logo;
    text-align: center;
    padding-top: 0.1em; */   
    text-decoration: none;
}

.logo {
    height: auto;
    max-height: 35px;
    align-self: center;
}

.title {
    /* vertical-align: bottom;
    text-align: center; */
    color: var(--secondary-color);
    margin:0 px auto;
    align-self: center;
}

.title a {
    vertical-align: bottom;
    text-align: center;
    margin:0 px auto;
    padding:0;
    font-size: 1.25em;
    font-weight: bold;
    text-decoration: none;
    color: var(--secondary-color);
}

.title a:hover{
    vertical-align: bottom;
    text-align: center;
    margin:0 px auto;
    padding:0;
    font-size: 1.25em;
    font-weight: bold;
    text-decoration: none;
    color: var(--secondary-text-color);
}

.menu-item{
    /* vertical-align: bottom; */
    justify-self: center;
    margin:0 px auto;
    color: var(--secondary-color);
}

.menu-item a{
    /* vertical-align: bottom; */
    text-align: center;
    margin:0 px auto;
    padding:0;
    text-decoration: none;
    color: var(--secondary-color);
}
.menu-item a:hover{
    /* vertical-align: bottom; */
    text-align: center;
    margin:0 px auto;
    padding:0;
    text-decoration: none;
    border-style: none none solid none;
}
  
/* *************************************************************************************** */
/*  MESSAGE form */

.main_layout {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.messengerContainer {
    grid-column: 2 / 4;
    padding: 50px 0;
}

.message_box {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, min-content);
    row-gap: 5px;
    margin: 20px 0;
}

.message_user1 {
    grid-row: 1;
    grid-column: 1;
    align-self: end;
    font-size: 11px;
    color: var(--main-text-color);
    opacity: 0.9;
}

.message_content1 {
    grid-row: 2;
    grid-column: 1;
    justify-self: start;
    background: var(--main-color);
    color: var(--secondary-color);
    padding: 4px 8px;
    border-radius: 5px;
    border: 1px solid var(--secondary-color);
    max-width:300px;
    min-width: 80px;
    min-height: 20px;
    white-space: pre-wrap;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.time_stamp1 {
    grid-row: 3;
    grid-column: 1;
    font-size: 9px;
    color: var(--main-text-color);
    opacity: 0.9;    
}

.message_user2 {
    grid-row: 1;
    grid-column: 2;
    align-self: end;
    justify-self: end;
    font-size: 11px;
    color: var(--main-text-color);
    opacity: 0.9;
}

.message_content2 {
    grid-row: 2;
    grid-column: 2;
    justify-self: end;
    background: var(--secondary-color);
    color: var(--main-color);
    padding: 4px 8px;
    border-radius: 5px;
    border: 1px solid var(--main-color);
    max-width:300px;
    min-width: 80px;
    min-height: 20px;
    white-space: pre-wrap;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.time_stamp2 {
    grid-row: 3;
    grid-column: 2;
    justify-self: end;
    font-size: 9px;
    color: var(--main-text-color);
    opacity: 0.9;
}



/* *************************************************************************************** */
/* SEND MESSAGE form */

.send_form {
    display: grid;
    justify-content: center;
    margin: 40px 0;
    row-gap: 16px;
}

.send_area {
    display: flex;
}

.radio_input_box {
    justify-self: center;
}

.radio_input_label {
    margin: 16px;
}

.send_message_form {
    background: var(--send-message-form);
    box-sizing: border-box;
    border: 1px solid #a8a6a6;
    height: 45px;
    min-width: 100px;
    width: 400px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);   
}


.button {
    background-color: var(--main-color);;
    border: none;
    color: white;
    padding: 15px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    /* margin: 4px 2px; */
    cursor: pointer;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
/* *************************************************************************************** */
/* Media Query Breakpoint */



@media screen and (min-width: 55em) {
/* media queries for header */
.navbar {
    padding: 0em 2em;

}
}
@media screen and (min-width: 80em) {
.test{
    max-width: 1600px;
    margin: 0 auto;
    padding-left: 1em;
    /* margin-left: 1em; */
}
.icon {
    margin-top: 0.25em;
}
}
    